<!--Modal-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full 
    top-0 left-0 flex items-center justify-center z-10">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container bg-white w-11/12 sm:max-w-md md:max-w-5xl mx-auto 
        rounded shadow-lg z-50 overflow-y-auto">
        <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col 
            items-center mt-4 mr-4 text-white text-sm z-50">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 
                    1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
            </svg>
        </div>

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content h-half text-left p-6">
            <!--Title-->
            <div class="flex justify-between items-center pb-3">
                <p class="text-2xl font-bold text-primary">Política de tratamiento de datos personales</p>
                <div class="modal-close cursor-pointer z-50">
                    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 18 18">
                        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 
                            1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                        </path>
                    </svg>
                </div>
            </div>

            <!--Body-->
            <p class="text-xl font-bold text-gray-800 mb-2">Kazabe Luxury Travel SAS es responsable del tratamiento de datos personales.</p>
            <p class="text-base text-justify mb-1">
                Los titulares de los datos personales aceptan el tratamiento de sus datos personales conforme a
                los términos de esta Política de Privacidad y nos autorizan a su tratamiento en los términos de esta
                política cuando proporciona los datos a través de los diferentes medios.
            </p>
            <p class="text-base text-justify mb-2">
                Kazabe Luxury Travel SAS es una agencia de turismo operadora en la ciudad de Cartagena que se
                encarga de ofrecer al mundo lo mejor del Caribe colombiano con altos estándares de Calidad y
                servicio.
            </p>
            <p class="text-xl font-bold text-gray-800 mb-2">Nuestros datos de contacto son:</p>
            <ul class="mb-2">
                <li>Razón Social: Kasabe Luxury Travel SAS</li>
                <li>Centro, Edificio Bombay, oficina 302, Cartagena, Bolivar.</li>
                <li>Teléfono. 57 (5) 6792015</li>
                <li>Celular: 57 (312) 6706937</li>
                <li>Email: info@kazabeluxury.com</li>
            </ul>
            <p class="text-xl font-bold text-gray-800 mb-2">Tipos de datos personales que reposan en nuestras bases de datos:</p>
            <p class="text-base text-justify mb-1">
                Los datos personales que recolectamos en nuestra base de datos, que es utilizada y tratada para
                cumplir con nuestro objeto, son:
            </p>
            <ul class="mb-2">
                <li>Nombre.</li>
                <li>CC o NIT.</li>
                <li>Celular.</li>
                <li>Dirección de correo electrónico.</li>
                <li>Dirección de residencia</li>
                <li>Información de Tarjeta de Crédito con CVV y Expiración</li>
                <li>Usuario de redes sociales.</li>
                <li>Nacionalidad</li>
                <li>Fecha de nacimiento.</li>
            </ul>
            <p class="text-justify mb-1"> La información suministrada permanecerá almacenada por el término máximo necesario para
                permitirnos el cumplimiento de las obligaciones legales y/o contractuales a nuestro cargo,
                especialmente en materia contable, contractual, fiscal y tributaria, o para atender las disposiciones
                aplicables a los aspectos administrativos, contables, fiscales, jurídicos e históricos de la
                información.
            </p>
            <p class="text-justify mb-2">
                Presumimos la veracidad de la información suministrada y no verificamos, ni asumimos la
                obligación de verificar la veracidad, vigencia, suficiencia y autenticidad de los datos que nos sean
                proporcionados.
            </p>
            <p class="text-xl font-bold text-gray-800 mb-2">Finalidades del tratamiento</p>
            <p class="text-justify mb-1">
                Al proporcionar sus Datos Personales, el Titular nos autoriza a usar esta información para las
                finalidades señaladas en la respectiva solicitud en concordancia con lo previsto en esta Política de
                Privacidad.
            </p>
            <p class="text-justify mb-1">
                Si usted nos proporciona datos personales, nos autoriza para usar esta información para las
                finalidades señaladas en concordancia con lo previsto en esta Política de Privacidad, y no
                procederemos a transferir o divulgar la misma fuera de nuestras bases de datos salvo que (i) usted
                nos autorice a hacerlo, (ii) sea necesario para permitir a nuestros contratistas, proveedores o
                agentes prestar los servicios que les hemos encomendado, (iii) la utilicemos nosotros o terceros
                para proporcionarle nuestros productos o servicios, (iv) sea entregada a las entidades que prestan
                servicios de marketing en nuestro nombre o a otras entidades con las cuales tenemos acuerdos de
                mercadeo conjunto, (v) tenga relación con una fusión, consolidación, adquisición, desinversión u
                otro proceso de restructuración, (vi) implementemos un contrato de transmisión de datos
                personales en los términos del Decreto 1377 de 2013, o (vii) según sea requerido o permitido por la
                ley o para las finalidades desarrolladas en la presente política de privacidad.
            </p>
            <p class="text-justify mb-2">
                Al aceptar esta política de privacidad, nos autoriza para hacer tratamiento de la información
                recolectada con la finalidad de cumplir con los objetivos de Kazabe Luxury Travel SAS . Estas
                finalidades son:
            </p>
            <ul class="mb-2">
                <li class="text-justify">Enviar comunicaciones, por diferentes medios, relacionadas con eventos organizados por la
                    Kazabe Luxury Travel SAS o por terceros.</li>
                <li class="text-justify">Entregar información a terceros que requieran establecer contactos comerciales , en relación
                    con asuntos de comercio electrónico e Internet.</li>
                <li class="text-justify">Realizar los cobros por los servicios contratados o las penalidades en caso de aplicar.</li>
                <li class="text-justify">Consultar y actualizar los datos personales, en cualquier tiempo, con el fin de mantener
                    actualizada dicha información en nuestras bases de datos.</li>
                <li class="text-justify">Realizar actividades dirigidas a fortalecer la presencia institucional de Kazabe Luxury Travel a
                    realizar contactos con terceros para el ejercicio de estas actividades.</li>
                <li class="text-justify">Para realizar estudios de mercado para definir el perfil de nuestros usuarios, realizar publicidad
                    y prospección comercial.</li>
                <li class="text-justify">Gestionar medios de comunicación social y/o contenido editorial.</li>
                <li class="text-justify">Desarrollar guías/catálogos de servicios de comercio electrónico.</li>
                <li class="text-justify">Gestionar la fidelización.</li>
                <li class="text-justify">Facilitar el registro de entrada y salida de documentos.</li>
                <li class="text-justify">Realizar actividades con fines históricos, científicos o estadísticos.</li>
            </ul>
            <p class="text-justify mb-2">
                Con la aceptación de la presente Política de Privacidad, los titulares de datos personales nos
                autorizan para hacerles llegar, por distintos medios y canales (incluyendo, pero no limitándose a
                correo electrónico, SMS o mensajes de texto, etc.) información de productos y servicios, y de
                ofertas de productos y/o servicios que son de interés de nuestros afiliados.
            </p>
            <p class="text-xl font-bold text-gray-800 mb-2">Seguridad</p>
            <p class="text-justify mb-1">
                Tenemos establecidas políticas, procedimientos y estándares de seguridad de la información, cuyo
                objetivo es proteger y preservar la integridad, confidencialidad y disponibilidad de la información,
                independientemente del medio o formato donde se encuentre, de su ubicación temporal o
                permanente o de la forma en que ésta sea transmitida.
            </p>
            <p class="text-justify mb-1">
                Los terceros contratados por nosotros están igualmente obligados a adherirse y dar cumplimiento a
                las políticas y manuales de seguridad de la información, así como a los protocolos de seguridad
                que aplicamos a todos nuestros procesos.
            </p>
            <p class="text-justify mb-2">
                Todo contrato con terceros (contratistas, empleados, consultores externos, colaboradores
                temporales, etc.) que involucre el tratamiento de información y datos personales, incluirá un
                acuerdo de confidencialidad que detalle sus compromisos para la protección, cuidado, seguridad y
                preservación de la confidencialidad, integridad y privacidad de la información.
            </p>
            <p class="text-xl font-bold text-gray-800 mb-2">Derechos y procedimientos</p>
            <p class="text-justify mb-1">
                Usted manifiesta libre, expresa y previamente haber sido informado sobre los derechos que la ley
                le concede como titular de sus datos personales. Estos derechos se enuncian a continuación:
            </p>
            <p class="text-justify mb-1">
                (i) Conocer, actualizar y rectificar sus datos personales frente a la entidad responsable del
                tratamiento o encargada del tratamiento de sus datos personales.
            </p>
            <p class="text-justify mb-1">
                (ii) Solicitar prueba de la autorización otorgada al responsable del tratamiento, salvo cuando
                expresamente se exceptúe como requisito para el tratamiento.
            </p>
            <p class="text-justify mb-1">
                (iii) Ser informado por el responsable del tratamiento o el encargado del tratamiento, previa
                solicitud, respecto del uso que le ha dado a los datos personales.
            </p>
            <p class="text-justify mb-1">
                (iv) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones al régimen
                de protección de datos personales.
            </p>
            <p class="text-justify mb-1">
                (v) Revocar la autorización y/o solicitar la supresión del dato personal en los términos de la Ley
                1581 de 2012.
            </p>
            <p class="text-justify mb-1">
                (vi) Acceder en forma gratuita una vez por mes a sus datos personales que hayan sido objeto de
                tratamiento, en los términos de la normatividad vigente.
            </p>
            <p class="text-justify mb-2">
                Los procedimientos para el ejercicio de sus derechos serán los siguientes:
            </p>
            <p class="text-xl font-bold text-gray-800 mb-2">Procedimiento para consultas</p>
            <p class="text-justify mb-1">
                Los titulares, las personas autorizadas o causahabientes podrán consultar su información personal
                que repose en nuestras bases de datos, caso en el cual le suministraremos la información
                solicitada, previa verificación de la legitimación para presentar dicha solicitud. La consulta será
                atendida en un término máximo de diez (10) días hábiles contados a partir de la fecha de recibo de
                la misma. Cuando no fuere posible atender la consulta dentro de dicho término, se le informarán
                los motivos de la demora señalando la fecha en que se atenderá su consulta, la cual en ningún
                caso podrá superar los cinco (5) días hábiles siguientes al vencimiento del primer término.
            </p>
            <p class="text-justify mb-1">
                Si los titulares o las personas autorizadas consideran que la información contenida en una base de
                datos debe ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto
                incumplimiento de cualquiera de los deberes contenidos en la ley, podrán presentar un reclamo
                ante nosotros, el cual será tramitado bajo las siguientes reglas:
            </p>
            <p class="text-justify mb-1">
                1. Su reclamo deberá formularse mediante solicitud dirigida a Kazabe Luxury Travel SAS con sus
                datos de identificación, la descripción de los hechos que dan lugar al reclamo, su dirección, y
                acompañando los documentos que se quiera hacer valer como prueba de los hechos. Si el
                reclamo resultare incompleto, lo requeriremos dentro de los cinco (5) días siguientes a la
                recepción del mismo para que subsane las fallas. Transcurridos dos (2) meses desde la fecha
                del requerimiento, sin que usted presente la información requerida, entenderemos que ha
                desistido del reclamo, en los términos del artículo 17 de la Ley 1755 de 2015, estatutaria del
                Derecho de Petición.
            </p>
            <p class="text-justify mb-1">
                En caso de que no seamos competentes para resolver su reclamo, Kazabe Luxury Travel SAS
                dará traslado a quien corresponda en un término máximo de dos (2) días hábiles hecho que le será
                informado al Titular de manera oportuna.
            </p>
            <p class="text-justify mb-1">
                1. De ser procedente, una vez recibido el reclamo completo, se incluirá en la base de datos una
                leyenda que diga “reclamo en trámite” y el motivo del mismo, en un término no mayor a dos (2)
                días hábiles. Dicha leyenda deberá mantenerse hasta que el reclamo sea decidido.
            </p>
            <p class="text-justify mb-1">
                2. El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir
                del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de
                dicho término, se le informarán los motivos de la demora y la fecha en que se atenderá su
                reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al
                vencimiento del primer término.
            </p>
            <p class="text-justify mb-1">
                Los titulares de datos personales pueden ejercer sus derechos de conocer, actualizar, rectificar y
                suprimir sus datos personales enviando su solicitud al correo electrónico info@kazabeluxury.com,
                o en los teléfonos +57 (312) 6706937 y +57 (5) 6792015 de conformidad con lo establecido en esta
                Política de Privacidad.
            </p>
            <p class="text-justify mb-2">
                El área de atención de peticiones, consultas o reclamos ante la cual el titular de la información
                puede ejercer sus derechos es:
            </p>
            <p class="text-xl font-bold text-gray-800 mb-2">Área: Gerencia General</p>
            <p class="mb-1">Centro, Edificio Bombay, oficina 302, Cartagena, Bolivar.</p>
            <p class="mb-1">Teléfono. 57 (5) 6792015</p>
            <p class="mb-1">Celular: 57 (312) 6706937</p>
            <p class="mb-2">Email: info@kazabeluxury.com</p>
            <p class="text-xl font-bold text-gray-800 mb-2">Modificaciones y vigencia</p>
            <p class="text-justify mb-1">
                Podremos modificar en cualquier momento los términos y condiciones de esta Políticas de
                Privacidad. Cualquier modificación se informará en la página web y publicando una versión
                actualizada de las políticas de privacidad. Las bases de datos tendrán vigencia indefinida, de
                conformidad las finalidades y usos de la información.
            </p>
            <p class="text-justify pb-5">
                Esta política fue modificada y publicada en nuestro sitio web el 24 de febrero de 2020 y entra en
                vigencia a partir de la fecha de publicación.
            </p>
        </div>
    </div>
</div>